@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
body {
  margin: 0;
  font-family: "Poppins", arial;
}

body a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  font-size: 1.14rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

header .logo {
  color: black;
  font-size: 1.3rem;
}

header ul {
  display: flex;
}

header ul a {
  padding: 0 1em;
}

header ul a.active {
  padding: 0 0 0 0px;
  position: relative;
  padding-right: 1.5em;
}

header ul a.active::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 55px; /* Set a fixed width for the underline */
  height: 1px;
  background-color: #000000;
  transform: translateX(99%); /* Center the underline */
}

.hero {
  padding: 5em 10em 2em 10em;
  display: grid;
}
.hero img {
  height: 398px;
  width: 398px;
  margin-right: 5em;
}
.hero .content {
  display: flex;
  padding-bottom: 8em;
}
.hero .content .mobile {
  display: none;
}
.hero .content .right {
  margin-right: 2em;
}
.hero .content .right h2 {
  margin-bottom: 1em;
  margin-top: 0em;
  font-weight: 500;
  font-size: 42px;
}
.hero .content .right p {
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 19px;
  line-height: 34px;
}

.hero footer {
  display: flex;
  justify-content: space-between;
}
.hero footer .logo {
  color: rgb(128, 128, 128);
  font-size: 15px;
}
.hero footer ul {
  display: flex;
  align-items: flex-end;
}
.hero footer ul a {
  padding: 0 0 0 3em;
  font-size: 15px;
}
.hero footer ul img {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-bottom: 4px;
  margin-right: 0em;
  padding-right: 3em;
}

@media only screen and (max-width: 1145px) {
  .hero {
    padding: 5em 2em 0em 2em;
  }
  .hero .content .right {
    margin-right: 0em;
  }
  .hero .content .right p {
    font-size: 17px;
  }
  .hero .content .right h2 {
    font-size: 27px;
  }
  .hero .content .left img {
    height: 265px;
    width: 265px;
  }
  .hero footer ul img {
    padding-right: 2em;
  }
}
@media only screen and (max-width: 767px) {
  .hero .content {
    flex-direction: column;
  }
  .hero .content .right h2 {
    display: none;
  }
  .hero .content .right p {
    line-height: 31px;
    margin-bottom: 16px;
    margin-top: 0px;
  }
  .hero .content .mobile {
    display: contents;
    display: block;
    font-size: 27px;
    font-weight: 500;
  }
  .hero .content .left img {
    margin-right: 0em;
    margin-bottom: 2.5em;
  }
  .hero {
    padding-top: 0px;
  }
  .hero .content .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero .content .left img {
    height: 374px;
    width: 374px;
  }
  .hero footer ul img {
    padding-right: 1em;
  }
}
@media only screen and (max-width: 414px) {
  header ul {
    font-size: 16px;
  }
  header .logo {
    font-size: 19px;
  }
  header ul a.active::after {
    transform: translateX(82%); /* Center the underline */
  }
  .hero footer .logo {
    display: none;
  }
  .hero footer {
    padding-left: 6em;
  }
  .hero {
    padding: 0em 0em 2em 0em;
  }
  .hero .content {
    padding: 0em 2em 2em 2em;
  }
  .hero .content .left img {
    height: 325px;
    width: 325px;
  }
}/*# sourceMappingURL=about.css.map */