@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', arial;

    a {
        color: black;
        text-decoration: none;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    font-size: 1.14rem;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        color: black;
        font-size: 1.3rem;
    }

    ul {
        display: flex;

        a {
            padding: 0 1em;

            &.active {
                padding: 0 0 0 0px;
                position: relative;
                padding-right: 1.5em;
                
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -3px;
                    left: 50%;
                    width: 50px; /* Set a fixed width for the underline */
                    height: 1px;
                    background-color: #000000;
                    transform: translateX(-76%); /* Center the underline */
                }

            }
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;

    .logo {
        color: rgb(128, 128, 128);
        font-size: 15px;
    }

    ul {
        display: flex;
        align-items: flex-end;

        a {
            padding: 0 0 0 3em;
            font-size: 15px;
        }

        img {
            padding: 0 0 0 3em;
            width: 20px;
            height: 20px;
            margin-bottom: 4px;
            
        }
    }
}

.hero {
    padding: 2em;  
    display: flex;
    justify-content: center;

    .content {
        display: flex;
        flex-direction: column;
        max-width: 88.125em;
    }

    h1 {
        font-weight: 600;
        margin: 0;
        font-size: 3.125rem;
    }

    p {
        margin-top: 16px;
        font-size: 1.3225rem;
        line-height: 2.78rem;
        font-weight: 300;
    }
}

.image-container {
    position: relative;
    overflow: hidden; /* Clip content that exceeds container dimensions */

    .mockup-image {
        position: absolute;
        width: 700px;
        height: 325px;
        top: 24em; /* Adjust the top position to move the image vertically */
        left: 671px;
        transform: translate(-115%, -47%); 
        object-fit: contain; /* Maintain aspect ratio without squishing */
    }
    
    img {
        position: absolute;
        width: 19px;
        height: 19px;
        z-index: 2;
        top: 10em;
        right: 7em;
        transform: translate(300%, 50%);
    }

    .text-container {
        position: absolute;
        top: 50%;
        right: 0;
        margin-right: -37em;
        width: 100%;
        transform: translateY(-60%);
        text-align: left;
        z-index: 2;
        
        h2 {
          font-weight: 500;
          font-size: 2.25rem;
          margin-bottom: 1rem;
        }

        .para {
            font-size: 19.04px;
            line-height: 34.2px;
            font-weight: 300;
            max-width: 38%;
        }
      }
      
      .see-project-button {
        display: inline-block;
        padding: 0.5rem 1rem;
        background-color: black;
        color: white;
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
        border-radius: 0;
        margin-top: 1rem;
      }

    .rectangle {
        height: 502px;
        background-color: #12a6ea;
        opacity: 30%;
        margin: 8em auto;
        position: relative;
    }
}

@media only screen and (max-width: 1467px) {

    .image-container .text-container {
        transform: translateY(-60%);
    }
  }

@media only screen and (max-width: 1270px) {

    .image-container .rectangle {
    height: 403px; 
    }

    .image-container .mockup-image {
        width: 500px;
        height: 250px;
        top: 20.5em; /* Adjust the top position to move the image vertically */
        left: 491px;
        transform: translate(-115%, -47%); 
        object-fit: contain; /* Maintain aspect ratio without squishing */
    }

    .image-container .text-container {
        margin-right: -29em;
    }

    .hero .content .text-container .para {
        font-size: 18px;
    }

    .hero .content .text-container h2 {
        font-size: 30px; /* Updated font size for the h2 */
      }
  }

@media only screen and (min-width: 1250px) {
    .hero .content {
        padding: 6em 12.2em 6em 12.2em;
        
    }
}

  @media only screen and (min-width: 1114px) {

    .hero {
        padding: 0;

        .content {
            padding: 6em 8em 2em 8em;

            h1 {
                font-size: 4.64rem;
            }

            p {
                font-size: 1.75rem;
                line-height: 44.5px;
                line-height: 50px;
            }
        }
    }
}

  @media only screen and (max-width: 877px) {
    
    .image-container .rectangle {
    height: 595px; /* Height for page width <= 769px */
    }

    .image-container .text-container {
        position: absolute;
        top: 50%;
        right: 0;
        margin-right: -2em;
        width: 100%;
        transform: translateY(30%);
        text-align: left;
        z-index: 2;
    }

    .hero .content .text-container .para {
        max-width: 91%;
        font-size: 17px;
    }

    .hero .content .text-container h2 {
        font-size: 24px; /* Updated font size for the h2 */
      }

    .image-container .see-project-button {
        margin-top: 0.1rem;
    }
  }

  @media only screen and (max-width: 414px) {

    header ul {
        font-size: 16px;

    }

    header .logo {
        font-size: 19px;
    }

    .hero {
        padding: 2em 1em 1em 1em;
    }

    header {
        padding: 2em 1em;
    }

    .image-container .mockup-image {
        
        width: 325px;
        top: 17em; /* Adjust the top position to move the image vertically */
        left: 332px;
        transform: translate(-115%, -70%); 
        object-fit: contain; /* Maintain aspect ratio without squishing */
    }

    .image-container .text-container {
        margin-right: -1em;
        width: 100%;
        transform: translateY(-10%);
    }

    footer {
        flex-direction: column;
        align-items: flex-start;

        .logo {
          order: 1;
          margin-top: 1.5rem;
        }
    
        ul {
          order: 2;
          align-self: flex-start;
          padding-left: 0;
    
          a {
            padding: 0 3em 0em 0em;
          }

          img {
            margin-left: 122px;
          }
        }
    }

    .image-container .rectangle {
        margin: 3em 0;
    }

    .image-container img {
        transform: translate(400%, -400%);
    }

    .image-container .rectangle {
        height: 555px; 
        }
  }